.Row{
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.LoginForm{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    
}
Button{
  background-color: rgb(84, 99, 207);
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.CAbtn{
    background-color: rgb(6, 7, 15);
    color: white;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}